@import '../../../variables.scss';

.menu__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: $baseFontFamily;
  font-size: map.get($fontSize, "titleMiniFontSize");
  line-height: map.get($lineHeight, "titleMiniLineHeight");
  color: $baseTextColor;
  text-transform: uppercase;
  transition: color .2s ease-in;
}

.menu__link:hover {
  color: #999999;
}

@media screen and (max-width: 768px) {
  .menu__link {
    font-size: map.get($fontSize, "titleMiniFontSize") - 8px;
    line-height: map.get($lineHeight, "titleMiniLineHeight") - 8px;
  }
}

@media screen and (max-width: 456px) {
  .menu__link {
    font-size: map.get($fontSize, "titleMiniFontSize") - 12px;
    line-height: map.get($lineHeight, "titleMiniLineHeight") - 12px;
  }
}
