.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 810px;
  box-sizing: border-box;
  background: url(../images/header-background.png) no-repeat center center;
  background-size: cover;
}
