.collection__content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 748px) {
  .collection__content {
    flex-direction: column;
    align-items: center;
  }
}
