@import '../../../../variables.scss';

.slider__arrow_direction_left {
  left: 20px;
  background: url('../images/icons/arrow-left_white.svg') no-repeat center center  $pageMainColor;
  background-size: cover;
}
