$pageMainColor: #0a0a0a;

$baseTextColor: #fff;

$baseFontFamily: 'Golos', 'Arial', sans-serif;

$fontSize: (
  "baseFontSize": 16px,
  "titleMiniFontSize": 32px,
  "titleFontSize": 64px
);

$lineHeight: (
  "baseLineHeight": 24px,
  "titleMiniLineHeight": 40px,
  "titleLineHeight": 80px
);

@mixin text-settings {
  font-family: $baseFontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}
