@charset "UTF-8";
@import '../vendor/normalize.css';
@import '../fonts/fonts.css';
.page {
  margin: 0 auto;
  background-color: #0a0a0a;
}

.content {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 810px;
  box-sizing: border-box;
  background: url(../images/header-background.png) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 686px) {
  .header {
    min-height: 320px;
  }
}
.header__icon {
  all: unset;
  z-index: 5;
  position: relative;
  width: 40px;
  height: 30px;
  margin: 40px 0 0 20px;
  cursor: pointer;
}

.header__icon::before,
.header__icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease 0s;
  background-color: #0a0a0a;
  border-radius: 100px;
}

.header__icon::before {
  top: 0;
}

.header__icon::after {
  bottom: 0;
}

@media screen and (max-width: 608px) {
  .header__icon {
    width: 25px;
    height: 16px;
    margin-top: 20px;
  }

  .header__icon::before,
.header__icon::after {
    height: 2px;
  }
}
.header__icon-span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: #0a0a0a;
  border-radius: 100px;
  transform: scale(1) translate(0, -50%);
}

@media screen and (max-width: 608px) {
  .header__icon-span {
    height: 2px;
  }
}
.header__icon_close-icon::before,
.header__icon_close-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  border-radius: 100px;
}

.header__icon_close-icon::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.header__icon_close-icon::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header__icon_close-icon .header__icon-span {
  transform: scale(0) translate(0, -50%);
  background-color: #fff;
}

@media screen and (max-width: 608px) {
  .header__icon_close-icon:before,
.header__icon_close-icon:after {
    height: 2px;
  }
}
.menu {
  position: absolute;
  top: -100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 810px;
  text-align: center;
  background-color: #0a0a0a;
  transition: top 0.3s ease 0s;
  overflow: auto;
}

@media screen and (max-width: 686px) {
  .menu {
    min-height: 320px;
  }
}
.menu_visible {
  top: 0;
}

.menu__items {
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
  margin: 0 0 80px 0;
}

.menu__item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 608px) {
  .menu__item {
    margin: 0 0 40px 0;
  }
}
.menu__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Golos", "Arial", sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
}

.menu__link:hover {
  color: #999999;
}

@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 24px;
    line-height: 32px;
  }
}
.header__title {
  margin: 0 0 0 20px;
  padding: 132px 0 0;
  max-width: 460px;
  box-sizing: border-box;
  font-family: "Golos", "Arial", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  text-transform: uppercase;
  color: #0a0a0a;
}

@media screen and (max-width: 686px) {
  .header__title {
    padding: 40px 0 0;
    max-width: 350px;
    font-size: 32px;
    line-height: 40px;
  }
}
.section {
  padding: 80px 20px 0;
}

@media screen and (max-width: 608px) {
  .section {
    padding-top: 40px;
  }
}
.section__title {
  margin: 0 0 40px 0;
  font-family: "Golos", "Arial", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 748px) {
  .section__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 50px;
  }
}
@media screen and (max-width: 456px) {
  .section__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }
}
.collection__content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 748px) {
  .collection__content {
    flex-direction: column;
    align-items: center;
  }
}
.section__text {
  margin: 0;
  flex-basis: 50%;
  font-family: "Golos", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .collection__image {
    max-width: 390px;
  }
}
@media screen and (max-width: 868px) {
  .collection__image {
    max-width: 359px;
  }
}
@media screen and (max-width: 748px) {
  .collection__image {
    margin-top: 20px;
  }
}
@media screen and (max-width: 398px) {
  .collection__image {
    max-width: 280px;
  }
}
.images {
  margin-top: 80px;
}

@media screen and (max-width: 648px) {
  .images {
    margin-top: 40px;
  }
}
.images__content {
  box-sizing: border-box;
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

.training {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .training {
    justify-content: unset;
  }
}
@media screen and (max-width: 648px) {
  .training {
    flex-direction: column;
    align-items: center;
  }
}
.section__title_mini {
  margin: 0;
  max-width: 460px;
  font-size: 32px;
  line-height: 40px;
}

@media screen and (max-width: 984px) {
  .section__title_mini {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .section__title_mini {
    max-width: 359px;
    font-size: 24px;
    line-height: 32px;
    text-align: unset;
  }
}
@media screen and (max-width: 715px) {
  .section__title_mini {
    max-width: 300px;
  }
}
@media screen and (max-width: 648px) {
  .section__title_mini {
    max-width: 359px;
    margin-bottom: 20px;
  }
}
.products {
  padding: 80px 0 0;
}

@media screen and (max-width: 608px) {
  .products {
    padding-top: 40px;
  }
}
.slider {
  position: relative;
  max-width: 1440px;
}

.products__cards {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0 0 40px 0;
  max-width: 1440px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #ebebeb #292929;
  /* Firefox: «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* Firefox: высота скроллбара, без настроек */
}

/* браузеры chromium: полоса прокрутки (скроллбар) */
.products__cards::-webkit-scrollbar {
  margin: 0 20px 0;
  height: 4px;
  /* высота для горизонтального скролла */
  background-color: #292929;
  border-radius: 100px;
}

/* ползунок скроллбара */
.products__cards::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border-radius: 100px;
}

@media screen and (max-width: 608px) {
  .products__cards {
    padding-bottom: 20px;
  }
}
.products__card {
  list-style: none;
  position: relative;
  margin: 0;
  display: block;
}

.products__card-image {
  display: block;
  object-fit: contain;
  object-position: center center;
  height: 100%;
}

.button {
  all: unset;
  padding: 8px 24px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #0a0a0a;
  cursor: pointer;
  font-family: "Golos", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #999999;
}

.button_type_buy-button {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media screen and (max-width: 326px) {
  .button_type_buy-button {
    min-width: 286px;
    text-align: center;
  }
}
.slider__arrow {
  all: unset;
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.slider__arrow:hover {
  background-color: #999999;
}

.slider__arrow_direction_left {
  left: 20px;
  background: url("../images/icons/arrow-left_white.svg") no-repeat center center #0a0a0a;
  background-size: cover;
}

.slider__arrow_direction_right {
  right: 20px;
  background: url("../images/icons/arrow-right_white.svg") no-repeat center center #0a0a0a;
  background-size: cover;
}

.discipline {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 648px) {
  .discipline {
    display: block;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

@media screen and (max-width: 504px) {
  .footer {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 504px) {
  .section__text_centered {
    text-align: center;
  }
}
.footer__submit-form {
  padding: 40px 0;
}

@media screen and (max-width: 504px) {
  .footer__submit-form {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }
}
.footer__email-field {
  box-sizing: border-box;
  min-width: 278px;
  margin-right: 10px;
  padding: 8px 0;
  border: none;
  border-radius: 100px;
  font-family: "Golos", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.footer__email-field:focus {
  outline: none;
  background-color: #999999;
}

@media screen and (max-width: 504px) {
  .footer__email-field {
    min-width: 280px;
    margin: 0 0 18px 0;
  }
}
.button_type_submit-button {
  border: 1px solid #fff;
}

@media screen and (max-width: 504px) {
  .button_type_submit-button {
    min-width: 280px;
    text-align: center;
  }
}
.button_type_up {
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 5;
  background-color: #fff;
  color: #0a0a0a;
  box-shadow: 0 0 10px #0a0a0a;
}

@media screen and (max-width: 768px) {
  .button_type_up {
    bottom: 20px;
    right: 20px;
    padding: 20px 10px;
    font-size: 8px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
